
li{
    color: crimson;
}
/* styles the list items only in the main 
below says the list item has to be a descendant of the main */
div#main ul li{
    color: green;
}

h1 {
    color: red;
    background-color: blanchedalmond;
}

p {
color: #FFFF00
}

 /* below is styling the main div */
#main {
    background-color: aquamarine;
}
/* colors only the footer class */
.footer{
    color: cadetblue;
}
